*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #111;
    min-height: 100%;
    font-family: Lato, Verdana, Arial;
    font-size: 14px;
    background: #FAFAFA url(../i/bg.jpg);
}

ul {
    list-style: none;
    line-height: 20px;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    opacity: .9;
    color: #000;
}
a:hover {
    opacity: 1;
}

p {
    margin-bottom: .5rem;
}

header {
    background: #333;
    height: 27px;
}

nav a {
    color: #eee;
    font-size: 11px;
    padding: 6px 8px;
    min-width: 19px;
    display: inline-block;
    text-align: center;
}

nav a#home {
    padding-right: 1rem;
}

input {
    width: 160px;
    border-radius: 10px;
    outline: 0;
    padding: 2px 8px;
    border: none;
    margin: 4px;
    float: right;
}

nav,
section {
    margin: 0 auto;
}

nav,
section,
.content {
    width: 900px;
}

#breadcrumbs {
    display: block;
    margin: 20px 0;
}
    #breadcrumbs a {
        display: inline-block;
    }
    #breadcrumbs a:after {
        content: '→';
        color: rgba(0, 0, 0, .3);
        padding: 0 4px 0 3px;
    }
    #breadcrumbs a:last-child:after {
        content: none;
    }


pre {
    white-space: pre;
    padding: 20px;
    overflow: auto;
    text-shadow: none;
    background: #fff;
    font-size: 0.95rem;
    border: solid 1px #f2f2f2;
    color: #222;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
}


.error {
  color: #c00;
}

.content {
  position: absolute;
  transition: all .15s ease;
}

.slide-enter {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-leave-active {
  opacity: 0;
  transform: translate(-30px, 0);
}

.view {
    color: #222;
    text-align: left;
}

.view a {
    display: block;
    line-height: 1.9;
}
.view .homepage a {
    display: inline-block;
    line-height: normal;
    text-decoration: underline;
}


/*
 * Agenda: always show the vertical scroll bar on the right
 * for shitty browsers so that the X would not twitch
 * every time Y overflow appears or goes away
 *
 */

body {
    overflow-y: scroll;
}


/*
 * Agenda: align navigation and breadcrumbs to the leftmost vertical line
 *
 */

#breadcrumbs a:first-child,
nav #home {
    padding-left: 0;
}


/*
 * Agenda: hide mobile ui controls
 *
 */

#nav-trigger {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label {
    display: none;
}


/*
 * Agenda: hide the search field for now
 *
 */

form {
    display: none;
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1023px) {

    label {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 2;
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve"><rect width="30" height="6"/><rect y="24" width="30" height="6"/><rect y="12" width="30" height="6"/></svg>');
        background-size: contain;
    }

    header {
        position: fixed;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 5rem;
    }

        nav {
            width: 100%;
            text-align: center;
        }

            nav #home {
                display: block;
                font-size: 130%;
                padding: .3rem 1rem;
            }

            nav a {
                display: inline-block;
                padding: 1rem;
                margin: 2px;
                font-weight: bold;
            }

            nav input {
                width: 88px;
                float: none;
                margin: .4rem auto;
            }


    section {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        background: #FAFAFA;
        padding: .5rem 1rem;
        padding-right: 60px;
    }

        pre {
            display: block;
        }

    #nav-trigger:checked + label {
      right: 115px;
    }

    #nav-trigger:checked ~ section {
      right: 100px;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    }

    /*
     * The law says you cannot touch,
     * but I see a lot of lawbreakers up in this house.
     *
     */
    label,
    header,
    section {
        transition: right 0.2s;
        -webkit-transition: right 0.2s;
    }

}
