body {
    color: #111;
    margin: 0;
    font-family: Lato, Verdana, Arial;
    font-size: 14px;
    background: #FAFAFA url(../i/bg.jpg);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    opacity: .9;
    color: #000;
}
a:hover {
    opacity: 1;
}

header {
    background: #333;
    height: 27px;
}

nav ul {
    display: inline-block;
}
    nav li {
        display: inline-block;
    }
        nav a {
            color: #eee;
            font-size: 11px;
            padding: 3px;
            min-width: 19px;
            height: 19px;
            display: inline-block;
            text-align: center;
        }

input {
    width: 160px;
    border-radius: 10px;
    outline: 0;
    padding: 2px 4px;
    border: none;
    margin: 4px;
}

nav,
section {
    margin: 0 auto;
}

nav,
section,
.content {
    width: 900px;
}

#breadcrumbs {
    display: block;
    margin: 20px 0;
}
    #breadcrumbs li {
        display: inline-block;
    }
    #breadcrumbs li:after {
        content: '→';
        color: rgba(0, 0, 0, .3);
    }
    #breadcrumbs li:last-child:after {
        content: none;
    }
        #breadcrumbs a {
            padding: 0 2px;
        }
        #breadcrumbs li:first-child a {
            padding-left: 0;
        }


pre {
    white-space: pre;
    padding: 20px;
    overflow: auto;
    text-shadow: none;
    background: #fff;
    border: solid 1px #f2f2f2;
    color: #222;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
}


.error {
  color: #c00;
}

.content {
  position: absolute;
  transition: all .15s ease;
}

.slide-enter {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-leave-active {
  opacity: 0;
  transform: translate(-30px, 0);
}

.view {
    color: #222;
}


/*
 * Agenda: center the lyrics sheet
 * to make it appear like a piece of paper on the screen
 *
 */

.content {
    text-align: center;
}
pre {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#ls {
    text-align: left;
}


/*
 * Agenda: always show the vertical scroll bar on the right
 * for shitty browsers so that the X would not twitch
 * every time Y overflow appears or goes away
 *
 */

body {
    overflow-y: scroll;
}


/*
 * Agenda: align navigation and breadcrumbs to the leftmost vertical line
 *
 */

#breadcrumbs li:first-child a,
nav li:first-child a {
    padding-left: 0;
}
