<div class="homepage">
    <h3>About the open lyrics database</h3>
    <p>Many artists don't have their lyrics available online in the correct form.<br/>
    This project was started in an attempt to resolve this issue through obtaining and publishing lyrics by reaching out to the original authors.</p>
    <h3>Legal</h3>
    <p>Materials provided here are intended for non-commercial educational use. By accessing the documents here you agree that these materials are for private, educational use only. Materials here are protected by copyright and are the property of their respective owners.</p>
    <h3>Contributing</h3>
    <p>For corrections, contributions, or any other inquiries, please use <a href="mailto:open.lyrics.database@gmail.com">open.lyrics.database@gmail.com</a></p>
    <p>It's also possible to work with the data directly via <a href="https://github.com/Lyrics/lyrics">this GitHub repository</a>.</p>
    <h3>Other</h3>
    <p><a href="https://github.com/Lyrics/lyrics/archive/master.zip">Download the database as an archive</a>.</p>
</div>
