<!doctype html>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/s.css" media="screen"/>
<title>{{title}}</title>
<meta name="description" content="{{description}}"/>
<meta name="google" content="notranslate"/>

<div id="header">
    <nav><a href="/" class="active" id="home">Lyrics</a><a href="/db/a/">A</a><a href="/db/b/">B</a><a href="/db/c/">C</a><a href="/db/d/">D</a><a href="/db/e/">E</a><a href="/db/f/">F</a><a href="/db/g/">G</a><a href="/db/h/">H</a><a href="/db/i/">I</a><a href="/db/j/">J</a><a href="/db/k/">K</a><a href="/db/l/">L</a><a href="/db/m/">M</a><a href="/db/n/">N</a><a href="/db/o/">O</a><a href="/db/p/">P</a><a href="/db/q/">Q</a><a href="/db/r/">R</a><a href="/db/s/">S</a><a href="/db/t/">T</a><a href="/db/u/">U</a><a href="/db/v/">V</a><a href="/db/w/">W</a><a href="/db/x/">X</a><a href="/db/y/">Y</a><a href="/db/z/">Z</a><form action="/search.html"><input id="query" name="q" type="search" placeholder="Search"/></form></nav>
</div>

<div id="content">
    <ul id="breadcrumbs">{{breadcrumbs}}</ul>
    <div class="view">{{content}}</div>
</div>

<script>document.body.className="js"</script>
