<noscript>
    <div class="js-error">
        <p>Sadly, but the search requires JavaScript to be enabled in order to function.</p>
        <p>Feel free to <a href="https://github.com/Lyrics/lyrics/archive/master.zip">download the archive</a> or clone git@github.com:Lyrics/lyrics.git in case you'd like to access the database locally.</p>
    </div>
</noscript>
<script>
    var noscriptNode = document.getElementsByTagName("noscript")[0]
    noscriptNode.parentNode.removeChild(noscriptNode)
    var scriptNode = document.getElementsByTagName("script")[0]
    scriptNode.parentNode.removeChild(scriptNode)
</script>

<div id="app"><router-view class="view"></router-view></div>

<script src="/js/lib/vue.min.js"></script>
<script src="/js/lib/vue-router.min.js"></script>
<script src="/js/lib/vue-resource.min.js"></script>
<script src="/js/shims.js"></script>
<script src="/js/debounce.js"></script>
<script src="/js/search.js"></script>
