body {
    margin: 0;
    font-family: Lato, Verdana, Arial;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

header,
#breadcrumbs {
    display: none;
}
