$color-navbar-bg: #333;
$vertical-spacing: 1.1em;
$shadow-width: 3em;
$header-height: 1.1rem;
$website-width: 900px;
$header-vertical-overflow: 0.5rem;
$bottom-lyrics-padding-mobile: 2.4rem;

/*
 * Purpose: hide selection highlight from certain elements
 *
 */
nav {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
}

html {
    height: 100%;
}

body {
    color: #111;
    min-height: 100%;
    background: #f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    opacity: .9;
    color: #000;

    &:hover {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
}

#header {
    background-color: $color-navbar-bg;
    white-space: nowrap;
    line-height: $header-height;
}

nav {
    a {
        color: #eee;
        display: inline-block;
        min-width: 19px;
        font-size: 0.8em;
        padding: 12px 9px;
        text-align: center;
        box-sizing: border-box;

        &#home {
            padding-right: 1rem;
        }
    }
}

form {
    padding-left: 1rem;
}

input {
    width: 130px;
    border-radius: 1rem;
    outline: 0;
    padding: .13rem .666rem;
    border: none;
    font-size: 1rem;
    vertical-align: middle;
}

nav,
#content {
    margin: 0 auto;
    width: $website-width;
}

#content {
    position: relative;
}

#breadcrumbs {
    display: block;
    list-style: none;
    padding-top: $vertical-spacing;

    &:empty {
        display: none;
    }

    li {
        display: inline-block;

        span:after {
            content: '→';
            color: rgba(0, 0, 0, .3);
            padding: 0 4px 0 3px;
        }
    }
}


#lyrics {
    padding: 20px;
    margin: 0;
    overflow: auto;
    background: #fff;
    border: solid 1px #f2f2f2;
    color: #222;
    line-height: 1.5;
    display: inline-block;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    text-align: left;

    p {
        padding-bottom: 1rem;

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}


/*
 * Purpose: make metadata look different from the song text
 *
 */
.metadata {
    opacity: 0.4;
    font-size: 75%;
}


.error {
    color: #c00;
}


.view {
    color: #222;
    text-align: center;
    padding-top: $vertical-spacing;
    padding-bottom: 6em;

    ul {
        display: block;
        line-height: 1.9;
        text-align: left;
        list-style: none;
    }

    li {
        display: block;

        a {
            display: inline-block;
        }
    }
}


.homepage,
.not-found {
    text-align: left;
}
.homepage a,
.not-found a {
    text-decoration: underline;
}


/*
 * Purpose: always show the vertical scroll bar on the right
 * for shitty browsers so that the X would not twitch
 * every time Y overflow appears or goes away
 *
 */
body {
    overflow-y: scroll;
}


/*
 * Purpose: align navigation and breadcrumbs to the leftmost vertical line
 *
 */
#breadcrumbs a:first-child,
nav #home {
    padding-left: 0;
}


/*
 * Purpose: hide mobile ui controls
 *
 */
#nav-trigger {
    position: fixed;
    clip: rect(0, 0, 0, 0);
}
label {
    display: none;
}


/*
 * Purpose: hide the search field unless JS in on
 *
 */
form {
    display: none;
}
.js form {
    display: inline-block;

    /* Purpose: make the navbar's inner shadow stay below the search field */
    position: relative;
    z-index: 1;
}


/* Mobile CSS */
@media only screen and (max-width: 920px) {

    #header {
        // height: 4.9rem; // <-- what was this for?
        overflow-x: auto;
        overflow-y: hidden;
        margin: -$header-vertical-overflow 0;
    }

    nav {
        text-align: left;
        margin: $header-vertical-overflow 0;
        margin-right: $shadow-width + 1em;

        /* Purpose: add inner shadow to the right side of navbar to hint user that
            they can hold scroll the alphabet horizontally on mobile */
        &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            width: $shadow-width;
            height: 4rem;
            background: -moz-linear-gradient(deg, rgba($color-navbar-bg, 0) 0%, $color-navbar-bg 100%);
            background: -webkit-linear-gradient(deg, rgba($color-navbar-bg, 0) 0%, $color-navbar-bg 100%);
            background: linear-gradient(90deg, rgba($color-navbar-bg, 0) 0%, $color-navbar-bg 100%);
    
            /* Purpose: make it possible to click on alphabet letters beneath */
            pointer-events: none;
        }

        a {
            display: inline-block;
            padding: 1.3rem .5rem;
            margin: .2rem;
            font-weight: bold;
            min-width: 40px;

            &#home {
                padding: 1.3rem .5rem;
            }
        }

        input {
            margin: 4px 1rem;
        }
    }

    .js nav {
        margin-right: 1rem;
    }

    #content {
        width: 100%;
        background: inherit;
        padding: 0;
    }

    #breadcrumbs {
        padding-left: .7rem;
        padding-right: .7rem;
    }

    #lyrics {
        display: block;
        padding: .4rem .7rem;

        // Purpose: hide the paper sheet's shadow on mobile
        box-shadow: none;

        // Purpose: add a bit of spacing to the bottom of the sheet
        padding-bottom: $bottom-lyrics-padding-mobile;
    }

    .view {
        padding-top: $vertical-spacing;
        padding-bottom: 0;

        .homepage,
        ul {
            padding: 0 .7rem;
            padding-bottom: 6em;
        }

        li {
            margin-bottom: 4px;
        }
    }

    /*
    * Purpose: Make paper lined to ensure readabilety when lines get wrapped
    *
    */
    #lyrics {

        span {
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
            margin: 0 0 -1px 0;

            br {
                display: none;
            }

            &.g {
                margin-top: 1.4rem;
                margin-top: calc(1.58rem - 1px);
            }

            .metadata & {
                margin: 0;
                display: inline;

                br {
                    display: auto;
                }
            }
        }
    }

    .metadata {
        margin-top: $bottom-lyrics-padding-mobile;
    }

}


/* Paper CSS */
@media print {

    body {
        margin: 0;
        font-size: 14px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 20px;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    #header,
    #breadcrumbs {
        display: none;
    }

}
